body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Стили для select с использованием SlimSelect */
.breed-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Стили для загрузчика */
.loader {
  display: none;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

/* Стили для блока ошибки */
.error {
  display: none;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: red;
}

/* Стили для информации о коте */
.cat-info {
  display: none;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.cat-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cat-info p {
  font-size: 18px;
  margin: 10px 0;
}

.cat-info img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
